packages/pn-shop-core/resources/js/components/ui/*
packages/pn-shop-core/resources/js/ziggy.js
packages/pn-shop-core/resources/views/mail/*
themes/*/*/dist
themes/*/*/ssr
extensions/*/*/dist
packages/pn-shop-core/theme/dist
packages/pn-shop-core/resources/upgrade/*.json
